**/.vs/
**/.idea/
/BE/Artin.BringAuto/bin/Debug/net5.0
/BE/Artin.BringAuto/obj
/BE/Artin.BringAuto.DAL/bin/Debug/net5.0
/BE/Artin.BringAuto.DAL/obj/Debug/net5.0
/BE/Artin.BringAuto.DAL/obj
/BE/Artin.BringAuto.Mappings/bin/Debug/net5.0
/BE/Artin.BringAuto.Mappings/obj/Debug/net5.0
/BE/Artin.BringAuto.Mappings/obj/project.nuget.cache
/BE/Artin.BringAuto.Mappings/obj/project.assets.json
/BE/Artin.BringAuto.Mappings/obj/Artin.BringAuto.Mappings.csproj.nuget.g.targets
/BE/Artin.BringAuto.Mappings/obj/Artin.BringAuto.Mappings.csproj.nuget.g.props
/BE/Artin.BringAuto.Mappings/obj/Artin.BringAuto.Mappings.csproj.nuget.dgspec.json
/BE/Artin.BringAuto.Shared/obj/project.nuget.cache
/BE/Artin.BringAuto.Shared/obj/project.assets.json
/BE/Artin.BringAuto.Shared/obj/Debug/net5.0/refint/Artin.BringAuto.Shared.dll
/BE/Artin.BringAuto.Shared/obj/Debug/net5.0/refint
/BE/Artin.BringAuto.Shared/obj/Debug/net5.0/ref/Artin.BringAuto.Shared.dll
/BE/Artin.BringAuto.Shared/obj/Debug/net5.0/ref
/BE/Artin.BringAuto.Shared/obj/Debug/net5.0/Artin.BringAuto.Shared.pdb
/BE/Artin.BringAuto.Shared/obj/Debug/net5.0/Artin.BringAuto.Shared.GeneratedMSBuildEditorConfig.editorconfig
/BE/Artin.BringAuto.Shared/obj/Debug/net5.0/Artin.BringAuto.Shared.dll
/BE/Artin.BringAuto.Shared/obj/Debug/net5.0/Artin.BringAuto.Shared.csproj.FileListAbsolute.txt
/BE/Artin.BringAuto.Shared/obj/Debug/net5.0/Artin.BringAuto.Shared.csproj.CoreCompileInputs.cache
/BE/Artin.BringAuto.Shared/obj/Debug/net5.0/Artin.BringAuto.Shared.csproj.BuildWithSkipAnalyzers
/BE/Artin.BringAuto.Shared/obj/Debug/net5.0/Artin.BringAuto.Shared.csproj.AssemblyReference.cache
/BE/Artin.BringAuto.Shared/obj/Debug/net5.0/Artin.BringAuto.Shared.assets.cache
/BE/Artin.BringAuto.Shared/obj/Debug/net5.0/Artin.BringAuto.Shared.AssemblyInfoInputs.cache
/BE/Artin.BringAuto.Shared/obj/Debug/net5.0/Artin.BringAuto.Shared.AssemblyInfo.cs
/BE/Artin.BringAuto.Shared/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/BE/Artin.BringAuto.Shared/obj/Debug/net5.0
/BE/Artin.BringAuto.Shared/obj/Artin.BringAuto.Shared.csproj.nuget.g.targets
/BE/Artin.BringAuto.Shared/obj/Artin.BringAuto.Shared.csproj.nuget.g.props
/BE/Artin.BringAuto.Shared/obj/Artin.BringAuto.Shared.csproj.nuget.dgspec.json
/BE/Artin.BringAuto.Shared/obj
/BE/Artin.BringAuto.Shared/bin/Debug/net5.0/Artin.BringAuto.Shared.pdb
/BE/Artin.BringAuto.Shared/bin/Debug/net5.0/Artin.BringAuto.Shared.dll
/BE/Artin.BringAuto.Shared/bin/Debug/net5.0/Artin.BringAuto.Shared.deps.json
/BE/Artin.BringAuto.Shared/bin/Debug/net5.0
/BE/Artin.BringAuto.Shared
/BE/Artin.BringAuto.MQTTClient/obj/project.nuget.cache
/BE/Artin.BringAuto.MQTTClient/obj/project.assets.json
/BE/Artin.BringAuto.MQTTClient/obj/Debug/net5.0/refint/Artin.BringAuto.MQTTClient.dll
/BE/Artin.BringAuto.MQTTClient/obj/Debug/net5.0/refint
/BE/Artin.BringAuto.MQTTClient/obj/Debug/net5.0/ref/Artin.BringAuto.MQTTClient.dll
/BE/Artin.BringAuto.MQTTClient/obj/Debug/net5.0/ref
/BE/Artin.BringAuto.MQTTClient/obj/Debug/net5.0/Artin.BringAuto.MQTTClient.pdb
/BE/Artin.BringAuto.MQTTClient/obj/Debug/net5.0/Artin.BringAuto.MQTTClient.GeneratedMSBuildEditorConfig.editorconfig
/BE/Artin.BringAuto.MQTTClient/obj/Debug/net5.0/Artin.BringAuto.MQTTClient.dll
/BE/Artin.BringAuto.MQTTClient/obj/Debug/net5.0/Artin.BringAuto.MQTTClient.csproj.FileListAbsolute.txt
/BE/Artin.BringAuto.MQTTClient/obj/Debug/net5.0/Artin.BringAuto.MQTTClient.csproj.CoreCompileInputs.cache
/BE/Artin.BringAuto.MQTTClient/obj/Debug/net5.0/Artin.BringAuto.MQTTClient.csproj.CopyComplete
/BE/Artin.BringAuto.MQTTClient/obj/Debug/net5.0/Artin.BringAuto.MQTTClient.csproj.BuildWithSkipAnalyzers
/BE/Artin.BringAuto.MQTTClient/obj/Debug/net5.0/Artin.BringAuto.MQTTClient.csproj.AssemblyReference.cache
/BE/Artin.BringAuto.MQTTClient/obj/Debug/net5.0/Artin.BringAuto.MQTTClient.assets.cache
/BE/Artin.BringAuto.MQTTClient/obj/Debug/net5.0/Artin.BringAuto.MQTTClient.AssemblyInfoInputs.cache
/BE/Artin.BringAuto.MQTTClient/obj/Debug/net5.0/Artin.BringAuto.MQTTClient.AssemblyInfo.cs
/BE/Artin.BringAuto.MQTTClient/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/BE/Artin.BringAuto.MQTTClient/obj/Debug/net5.0
/BE/Artin.BringAuto.MQTTClient/obj/Artin.BringAuto.MQTTClient.csproj.nuget.g.targets
/BE/Artin.BringAuto.MQTTClient/obj/Artin.BringAuto.MQTTClient.csproj.nuget.g.props
/BE/Artin.BringAuto.MQTTClient/obj/Artin.BringAuto.MQTTClient.csproj.nuget.dgspec.json
/BE/Artin.BringAuto.MQTTClient/obj
/BE/Artin.BringAuto.MQTTClient/bin/Debug/net5.0/Artin.BringAuto.Shared.pdb
/BE/Artin.BringAuto.MQTTClient/bin/Debug/net5.0/Artin.BringAuto.Shared.dll
/BE/Artin.BringAuto.MQTTClient/bin/Debug/net5.0/Artin.BringAuto.MQTTClient.pdb
/BE/Artin.BringAuto.MQTTClient/bin/Debug/net5.0/Artin.BringAuto.MQTTClient.dll
/BE/Artin.BringAuto.MQTTClient/bin/Debug/net5.0/Artin.BringAuto.MQTTClient.deps.json
/BE/Artin.BringAuto.MQTTClient/bin/Debug/net5.0/Artin.BringAuto.MQTT.Api.pdb
/BE/Artin.BringAuto.MQTTClient/bin/Debug/net5.0/Artin.BringAuto.MQTT.Api.dll
/BE/Artin.BringAuto.MQTTClient/bin/Debug/net5.0
/BE/Artin.BringAuto.MQTTClient
/BE/Artin.BringAuto.MQTT/obj/project.nuget.cache
/BE/Artin.BringAuto.MQTT/obj/project.assets.json
/BE/Artin.BringAuto.MQTT/obj/Debug/netstandard2.0/IndustrialPortalProtocolGrpc.cs
/BE/Artin.BringAuto.MQTT/obj/Debug/netstandard2.0/IndustrialPortalProtocol.cs
/BE/Artin.BringAuto.MQTT/obj/Debug/netstandard2.0/da39a3ee5e6b4b0d_IndustrialPortalProtocol.protodep
/BE/Artin.BringAuto.MQTT/obj/Debug/netstandard2.0/da39a3ee5e6b4b0d_CarStateProtocol.protodep
/BE/Artin.BringAuto.MQTT/obj/Debug/netstandard2.0/CarStateProtocolGrpc.cs
/BE/Artin.BringAuto.MQTT/obj/Debug/netstandard2.0/CarStateProtocol.cs
/BE/Artin.BringAuto.MQTT/obj/Debug/netstandard2.0/Artin.BringAuto.MQTT.Api.pdb
/BE/Artin.BringAuto.MQTT/obj/Debug/netstandard2.0/Artin.BringAuto.MQTT.Api.GeneratedMSBuildEditorConfig.editorconfig
/BE/Artin.BringAuto.MQTT/obj/Debug/netstandard2.0/Artin.BringAuto.MQTT.Api.dll
/BE/Artin.BringAuto.MQTT/obj/Debug/netstandard2.0/Artin.BringAuto.MQTT.Api.csproj.FileListAbsolute.txt
/BE/Artin.BringAuto.MQTT/obj/Debug/netstandard2.0/Artin.BringAuto.MQTT.Api.csproj.CoreCompileInputs.cache
/BE/Artin.BringAuto.MQTT/obj/Debug/netstandard2.0/Artin.BringAuto.MQTT.Api.csproj.BuildWithSkipAnalyzers
/BE/Artin.BringAuto.MQTT/obj/Debug/netstandard2.0/Artin.BringAuto.MQTT.Api.csproj.AssemblyReference.cache
/BE/Artin.BringAuto.MQTT/obj/Debug/netstandard2.0/Artin.BringAuto.MQTT.Api.assets.cache
/BE/Artin.BringAuto.MQTT/obj/Debug/netstandard2.0/Artin.BringAuto.MQTT.Api.AssemblyInfoInputs.cache
/BE/Artin.BringAuto.MQTT/obj/Debug/netstandard2.0/Artin.BringAuto.MQTT.Api.AssemblyInfo.cs
/BE/Artin.BringAuto.MQTT/obj/Debug/netstandard2.0
/BE/Artin.BringAuto.MQTT/obj/Artin.BringAuto.MQTT.Api.csproj.nuget.g.targets
/BE/Artin.BringAuto.MQTT/obj/Artin.BringAuto.MQTT.Api.csproj.nuget.g.props
/BE/Artin.BringAuto.MQTT/obj/Artin.BringAuto.MQTT.Api.csproj.nuget.dgspec.json
/BE/Artin.BringAuto.MQTT/obj
/BE/Artin.BringAuto.MQTT/bin/Debug/netstandard2.0/Artin.BringAuto.MQTT.Api.pdb
/BE/Artin.BringAuto.MQTT/bin/Debug/netstandard2.0/Artin.BringAuto.MQTT.Api.dll
/BE/Artin.BringAuto.MQTT/bin/Debug/netstandard2.0/Artin.BringAuto.MQTT.Api.deps.json
