version: '3.0'

services:
  industrialPortal:
    image: bring-auto-industrial-portal
    restart: always
    environment:
      ASPNETCORE_ENVIRONMENT: BringAutoTest
    build:
      context: .
      dockerfile: dockerfile
    depends_on:
      - database
    ports:
      - "8011:80"
      - "8033:443"
    networks:
      - bring-emulator
    

  database:
    image: mcr.microsoft.com/mssql/server:2017-latest
    environment:
        - SA_PASSWORD=ArtinTheBest123!
        - ACCEPT_EULA=Y
    networks:
      - bring-emulator
        
networks:
  bring-emulator:
    external: 
      name: bring-emulator